.idea
.DS_Store
.gradle
.env

data

build
common/build
common-model/build
common-api/build
common-auth/build
file-upload/build
host/build
customer/build
admin/build

common/out
common-model/out
common-api/out
common-auth/out
file-upload/out
host/out
customer/out
admin/out
