.idea
.DS_Store
.gradle
.env

build

etc/data

core/build
core/out

core/auth/build
core/auth/out
core/auth/src/main/generated

core/domain/build
core/domain/out
core/domain/src/main/generated

core/support/build
core/support/out
core/support/src/main/generated

core/query-support/build
core/query-support/out
core/query-support/src/main/generated

file-upload/build
file-upload/out
file-upload/src/main/generated

client/build
client/out

client/admin/build
client/admin/out
client/admin/src/main/generated

client/host/build
client/host/out
client/host/src/main/generated

client/customer/build
client/customer/out
client/customer/src/main/generated
client/customer/src/main/build

